

<div class="header1"><h1>Tilde</h1><a href="/">Playthrough</a><a href="/wlk">Walks&Discovery</a><a href="/msc">Music</a><a href="/tv">TV</a></div>


<style>

.header1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  column-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  background-color: #a1a1a1;
  width: 100%;
  
}

a {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  
  
}

h1 {
  color: #ffffff;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  
}





body {
      color: #9d9d9d;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Anton SC';
  }

section {
      font-size: 36px;
      line-height: 46px;
      text-transform: uppercase;
      width: 854px; !important;
      text-align: right !important;
      margin-bottom: 200px;
      
  }

</style>