<!doctype html>
<html lang="en">
	<head>
	<link href='https://fonts.googleapis.com/css?family=Anton SC' rel='stylesheet'>
		<meta charset="UTF-8" />
		<title>Astro Tilde</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
